<h1>Stylish Salon Administrative Site</h1>

<p>
  <strong>Welcome!</strong> What would you like to do today?
</p>

<ul>
  <li>Stylist Tasks</li>
  <ul>
    <li><a href = "/stylists">View All Stylists</a></li>
    <li><a href = "/stylists/new">Add a Stylist</a></li>
  </ul>
  <li>Client Tasks</li>
  <ul>
    <li><a href = "/clients">View All Clients</a></li>
    <li><a href = "/clients/new">Add a Client</a></li>
  </ul>
</ul>
