<h1><%= @stylist.name() %></h1>
<ul>
  <li>Name: <%= @stylist.name() %></li>
  <li>Phone number: <%= @stylist.phone() %></li>
  <li>Specialty: <%= @stylist.specialty() %></li>
</ul>

<a href="/stylists">Back to All Stylists</a>
