<h1>Stylist Roster</h1>

<%if @stylists.any?()%>
<ul>
  <% @stylists.each() do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <%end%>
</ul>
<%else%>
<p>
  You have not added any stylists yet.
</p>
<%end%>
